---
layout: base.njk
---
{% include "partials/home/header.njk" %}
{% include "partials/home/featured.njk" %}
{% include "partials/home/last_post.njk" %}
{% include "partials/home/projects.njk" %}
{% include "partials/home/work.njk" %}